* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-top: 1%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
}

.saludo {
    color: white;
}

.logoutboton {
    color: white;
    background: linear-gradient(to right, #9B273F, #011535);
    border: none;
    border-radius: 4vh;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logoutimg:hover {
    height: 4.5vh;
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-50deg) saturate(1000%) contrast(1);
}

.logoutimg {
    height: 4vh;
    margin: 0.6vh;
    margin-right: 0.9vh;
    transition: all 0.3s ease 0s;
}

.logoutboton:hover {
    color: #043689;
    background: white;
}

.bg-lights {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* background-image: url("../img/fondo2.jpg"); */
    background-color: #9B273F !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.atrasboton {
    color: white;
    background: linear-gradient(to right, #9B273F, #011535);
    border: none;
    border-radius: 4vh;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 5vh;
}

.atrasboton:hover {
    color: #043689;
    background: white;
}

.atrasimg {
    height: 4vh;
    margin: 0.6vh;
    margin-right: 0.9vh;
    transition: all 0.3s ease 0s;
}

.atrasimg:hover {
    height: 4.5vh;
    filter: brightness(0%);
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20%;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    margin: 0 auto;
    padding-top: 0%;
    width: 200vh;
}

.filtro {
    filter: brightness(0%);
}

.image-item {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.image-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-item:hover {
    transform: scale(0.95);
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.image-item:hover .image-text {
    opacity: 1;
}

.image-text h2 {
    margin-bottom: 5px;
}

@media (max-width: 800px) {
    .image-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin: 0 auto;
        margin-bottom: 75%;
    }
    .image-item:hover {
        transform: none;
    }
    .image-text {
        opacity: 1;
    }
    .logoutboton {
        margin-left: 600%;
    }
    .navbar-light .navbar-brand {
        margin-bottom: -15%;
    }
    .saludo b {
        font-size: 13px;
    }
}