* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-top: 1%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
}

.saludo {
    color: white;
}

.logoutboton {
    color: white;
    background: linear-gradient(to right, #9B273F, #011535);
    border: none;
    border-radius: 4vh;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logoutimg:hover {
    height: 4.5vh;
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-50deg) saturate(1000%) contrast(1);
}

.logoutimg {
    height: 4vh;
    margin: 0.6vh;
    margin-right: 0.9vh;
    transition: all 0.3s ease 0s;
}

.logoutboton:hover {
    color: #043689;
    background: white;
}

.bg-lights {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* background-image: url("../img/fondo2.jpg"); */
    background-color: #9B273F !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
    height: 85vh;
    padding-top: 5%;
    width: 200vh;
}

.image-item {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.image-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.image-item:hover .image-text {
    opacity: 1;
}

.image-text h2 {
    margin-bottom: 5px;
}