* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
    height: 85vh;
}

.image-item {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* Hace que el contenedor tenga un aspecto cuadrado */
    overflow: hidden;
}

.image-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.image-item:hover .image-text {
    opacity: 1;
}

.image-text h2 {
    margin-bottom: 5px;
}